<h1>Utilities#get_stock_info</h1>
<p>원하는 NASDAQ 주식의 심볼을 입력하세요: </p>
<form action='/utilities/show_stock_info'>
  <input type='text' name='company_code' placeholder='fb, amzn, appl, tsla...' ></input>
  <input type='text' name='company_code' placeholder='fb, amzn, appl, tsla...' ></input>
  <input type='text' name='company_code' placeholder='fb, amzn, appl, tsla...' ></input>
  <input type='submit' value='얍!'></input>
</form>